<% if current_user.nil? %>
  <h1><%= link_to "Log In", login_path %> or <%= link_to "Sign Up", new_user_path %></h1>
<% else %>
  <h6><%= "Logged in as #{current_user.email}" %> <%= link_to "Sign Out", logout_path, method: :delete %></h6>
  <%= form_for(:link, url: links_path) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :url%>
    <%= f.text_field :url %>
    <%= f.submit "Add Link" %>
  <% end %>
  <table id='link-table'>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th>Read?</th>
    </tr>
    <% @links.each do |link, index| %>
      <tr id="link_<%= link.id %>">
        <%  %>
        <td><%= link.title %></td>
        <td><%= link_to link.url, link.url %></td>
        <% if link.read %>
          <td><%= link_to "Mark as Unread", link_path(link: { read: false }), method: :put %></td>
          <% else %>
          <td><%= link_to "Mark as Read", link_path(link.id), method: :put, params: { read: true } %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
