<h3><%= "Logged in as #{current_user.email}" %> <%= link_to "Sign Out", logout_path, method: :delete %></h6>
<%= form_for(:link, url: links_path) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :url%>
  <%= f.text_field :url %>
  <%= f.submit "Add Link" %>
<% end %>
<br>
<input type="text" class="form-control" placeholder="Search Links" id="search-links">
<button id="unread-filter">See All Read Links</button>
<button id="read-filter">See All Unread Links</button>
<button id="show-all">See All Links</button>
<br>
<br>
<table id='link-table'>
  <tr>
    <th>Title</th>
    <th>URL</th>
    <th>Summary</th>
    <th>Read?</th>
    <th>Edit</th>
  </tr>
  <% @links.each do |link| %>
    <tr data-id="<%= link.id %>" data-read="<%= link.read %>" class="link link-read-<%= link.read %>">
      <td class="editable-title" contenteditable='true'><%= link.title %></td>
      <td class="editable-url" contenteditable='true'><%= link_to link.url, link.url %></td>
      <% if link.summary_h1 && link.summary_title %>
        <td class="summary"><%= link.summary_h1 %>, <%= link.summary_title %></td>
      <% else %>
        <td><p>No Summary Available</p></td>
      <% end %>
      <% if link.read %>
      <td><%= button_to "Mark as Unread", toggle_read_path(link), method: :put, class: 'read-btn' %></td>
        <% else %>
          <td><%= button_to "Mark as Read", toggle_read_path(link), method: :put, class: 'read-btn' %></td>
      <% end %>
        <td><%= button_to "Edit Link", edit_link_path(link), method: :get, class: 'edit-btn' %>
    </tr>
  <% end %>
</table>
